{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "늘품 Server API",
    "description": "늘품 팝업 웹 개발 Server API 입니다."
  },
  "host": "ec2-3-34-222-145.ap-northeast-2.compute.amazonaws.com:8080/",
  "basePath": "api/",
  "tags": [
    {
      "name": "Popup",
      "description": "Popup 관련 API Requests"
    },
    {
      "name": "Building",
      "description": "Building 관련 API Requests"
    },
    {
      "name": "User",
      "description": "User 관련 API Requests"
    },
    {
      "name": "찜하기",
      "description": "찜하기 관련 API Requests"
    },
    {
      "name": "ETC",
      "description": "기타 API Requests"
    },
    {
      "name": "Test",
      "description": "테스트 용 API Requests"
    }
  ],
  "schemes": [
    "http",
    "https"
  ],
  "securityDefinitions": {
    "apiKeyAuth": {
      "type": "apiKey",
      "in": "header",
      "name": "X-API-KEY",
      "description": "any description..."
    }
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/popup/infos": {
      "get": {
        "tags": [
          "Popup"
        ],
        "summary": "전체 팝업 리스트 정보 리턴",
        "description": "Response Datatype: Popups[]",
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/building/infos": {
      "get": {
        "tags": [
          "Building"
        ],
        "summary": "건물 정보 리턴 (전체 조회, id로 특정 건물 조회)",
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/building/search": {
      "get": {
        "tags": [
          "Building"
        ],
        "summary": "특정 정렬 조건, 필터 조건으로 건물 검색",
        "description": "Response Datatype: Buildings[]",
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/building/likes/count": {
      "get": {
        "tags": [
          "찜하기"
        ],
        "summary": "특정 건물 id의 찜하기 개수 리턴",
        "description": "Response Datatype: int(건물의 찜하기 개수)",
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/magazine/upload_image": {
      "post": {
        "tags": [
          "Magazine"
        ],
        "summary": "Magazine 이미지 업로드",
        "description": "POST Test Api 입니다.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/magazine/infos": {
      "get": {
        "tags": [
          "Magazine"
        ],
        "summary": "매거진 전체 목록 get",
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/magazine/contentHTML": {
      "get": {
        "tags": [
          "Magazine"
        ],
        "summary": "매거진 특정 매거진 상세 페이지 HTML get",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/magazine/": {
      "post": {
        "tags": [
          "Magazine"
        ],
        "summary": "매거진 작성하기",
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "example": "any"
                },
                "cate": {
                  "example": "any"
                },
                "date": {
                  "example": "any"
                },
                "writer": {
                  "example": "any"
                },
                "contentHTML": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "409": {
            "description": "Conflict"
          }
        }
      }
    },
    "/api/user/infos": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "전체 유저 정보 리스트 리턴",
        "description": "Response Datatype: Users[]",
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/user/info": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "특정 id의 유저 정보 리턴",
        "description": "Response Datatype: Users",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": [
          "User"
        ],
        "summary": "특정 id의 유저 정보 리턴",
        "description": "Response Datatype: Users",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/user/save/building": {
      "post": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/guest/update": {
      "put": {
        "tags": [
          "User"
        ],
        "summary": "유저 정보 업데이트 (회원가입)",
        "description": "",
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/api/user/remove": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "유저 삭제 (탈퇴)",
        "description": "Response Datatype: int(삭제한 유저의 id)",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/user/info/role": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "유저의 ROLE 상태 확인",
        "description": "",
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/api/user/nickname_check": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "유저 닉네임 중복 검사",
        "description": "",
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/api/user/building/likes": {
      "get": {
        "tags": [
          "찜하기"
        ],
        "summary": "유저가 찜한 빌딩 id 리스트 리턴 - 임시 api",
        "description": "Response Datatype: int(건물의 찜하기 개수)",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "찜하기"
        ],
        "summary": "유저의 빌딩 찜하기 리스트에 해당 건물 id 추가/삭제(토글) - 임시 api",
        "description": "Response Datatype: null",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "buildingId": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/oauth/callback": {
      "get": {
        "tags": [
          "OAuth 소셜 로그인"
        ],
        "summary": "OAuth 카카오, 네이버 소셜 로그인을 위한 api 입니다.",
        "description": "",
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "type": "string"
          },
          {
            "name": "code",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/data/address_code": {
      "get": {
        "tags": [
          "공공데이터"
        ],
        "summary": "공공데이터 - 법정동 코드",
        "description": "건축물 대장 조회를 위한 법정동 코드 get",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/data/building_info": {
      "get": {
        "tags": [
          "공공데이터"
        ],
        "summary": "공공데이터 - 건축물대장",
        "description": "해당 법정동 코드로 건축물 대장 정보 조회",
        "parameters": [
          {
            "name": "sigunguCd",
            "in": "query",
            "type": "string"
          },
          {
            "name": "bjdongCd",
            "in": "query",
            "type": "string"
          },
          {
            "name": "bun",
            "in": "query",
            "type": "string"
          },
          {
            "name": "ji",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/data/area_info": {
      "get": {
        "tags": [
          "공공데이터"
        ],
        "summary": "공공데이터 - 지역데이터",
        "description": "해당 장소의 주변의 지역 데이터 조회",
        "parameters": [
          {
            "name": "area",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/authorize": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "에디터 / 관리자 권한 Authorize",
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "pwd": {
                  "example": "any"
                },
                "user": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "409": {
            "description": "Conflict"
          }
        }
      }
    },
    "/api/admin/save/building": {
      "post": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/admin/edit/building": {
      "put": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/admin/save/popup": {
      "post": {
        "tags": [
          "Test"
        ],
        "summary": "POST Test Api",
        "description": "POST Test Api 입니다.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "example": "any"
                },
                "date": {
                  "example": "any"
                },
                "type": {
                  "example": "any"
                },
                "keyword": {
                  "example": "any"
                },
                "buildingId": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/admin/save/carousel": {
      "put": {
        "tags": [
          "Test"
        ],
        "summary": "POST Test Api",
        "description": "POST Test Api 입니다.",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/admin/edit/carousel": {
      "put": {
        "tags": [
          "Test"
        ],
        "summary": "POST Test Api",
        "description": "POST Test Api 입니다.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "example": "any"
                },
                "contentId": {
                  "example": "any"
                },
                "pageType": {
                  "example": "any"
                },
                "carouselType": {
                  "example": "any"
                },
                "contentType": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/admin/delete/{tableType}": {
      "delete": {
        "tags": [
          "Test"
        ],
        "summary": "POST Test Api",
        "description": "POST Test Api 입니다.",
        "parameters": [
          {
            "name": "tableType",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/contact/infos": {
      "get": {
        "tags": [
          "Contact"
        ],
        "summary": "전체 문의하기 정보 리스트 리턴",
        "description": "Response Datatype: ContactMsg[]",
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/contact/info": {
      "get": {
        "tags": [
          "Contact"
        ],
        "summary": "특정 유저의 문의하기 리스트 리텅",
        "description": "Response Datatype: ContactMsg[]",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/contact/": {
      "post": {
        "tags": [
          "Contact"
        ],
        "summary": "문의하기 Post",
        "description": "POST Test Api 입니다.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "buildingId": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "409": {
            "description": "Conflict"
          }
        }
      }
    },
    "/api/contact/remove": {
      "get": {
        "tags": [
          "Contact"
        ],
        "summary": "문의하기 정보 삭제",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/carousel/infos": {
      "get": {
        "tags": [
          "Carousel"
        ],
        "summary": "전체 캐러셀 정보 리스트 리턴",
        "description": "Response Datatype: CarouselContents[]",
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/carousel/building/{pageType}": {
      "get": {
        "tags": [
          "Carousel"
        ],
        "summary": "메인 페이지의 추천 건물 캐러셀 리스트 리턴",
        "description": "",
        "parameters": [
          {
            "name": "pageType",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/get/test": {
      "get": {
        "tags": [
          "Test"
        ],
        "summary": "GET Test Api",
        "description": "GET Test Api 입니다.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/save/user/test": {
      "post": {
        "tags": [
          "Test"
        ],
        "summary": "POST Test Api",
        "description": "POST Test Api 입니다.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "example": "any"
                },
                "age": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "409": {
            "description": "Conflict"
          }
        }
      }
    }
  }
}