{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "늘품 Server API",
    "description": "늘품 팝업 웹 개발 Server API 입니다."
  },
  "host": "ec2-3-34-222-145.ap-northeast-2.compute.amazonaws.com:8080/",
  "basePath": "api/",
  "tags": [
    {
      "name": "Popup",
      "description": "Popup 관련 API Requests"
    },
    {
      "name": "Building",
      "description": "Building 관련 API Requests"
    },
    {
      "name": "User",
      "description": "User 관련 API Requests"
    },
    {
      "name": "찜하기",
      "description": "찜하기 관련 API Requests"
    },
    {
      "name": "ETC",
      "description": "기타 API Requests"
    },
    {
      "name": "Test",
      "description": "테스트 용 API Requests"
    }
  ],
  "schemes": [
    "http",
    "https"
  ],
  "securityDefinitions": {
    "apiKeyAuth": {
      "type": "apiKey",
      "in": "header",
      "name": "X-API-KEY",
      "description": "any description..."
    }
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/popup/infos": {
      "get": {
        "tags": [
          "Popup"
        ],
        "summary": "전체 팝업 리스트 정보 리턴",
        "description": "Response Datatype: Popups[]",
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/building/infos": {
      "get": {
        "tags": [
          "Building"
        ],
        "summary": "특정 건물 id의 건물 정보 리턴",
        "description": "Response Datatype: Buildings[]",
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/building/search": {
      "get": {
        "tags": [
          "Building"
        ],
        "summary": "특정 정렬 조건, 필터 조건으로 건물 검색",
        "description": "Response Datatype: Buildings[]",
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/user/info": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "특정 id의 유저 정보 리턴",
        "description": "Response Datatype: Users",
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/user/register": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "유저 생성 (회원가입)",
        "description": "Response Datatype: int(생성한 유저의 ID)",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "example": "any"
                },
                "nickname": {
                  "example": "any"
                },
                "email": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "409": {
            "description": "Conflict"
          }
        }
      }
    },
    "/user/remove": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "유저 삭제 (탈퇴) - 임시 api",
        "description": "Response Datatype: int(삭제한 유저의 id)",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/user/building/likes": {
      "get": {
        "tags": [
          "찜하기"
        ],
        "summary": "유저가 찜한 빌딩 id 리스트 리턴 - 임시 api",
        "description": "Response Datatype: int(건물의 찜하기 개수)",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "post": {
        "tags": [
          "찜하기"
        ],
        "summary": "유저의 빌딩 찜하기 리스트에 해당 건물 id 추가/삭제(토글) - 임시 api",
        "description": "Response Datatype: null",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/building/likes/count": {
      "get": {
        "tags": [
          "찜하기"
        ],
        "summary": "특정 건물 id의 찜하기 개수 리턴",
        "description": "Response Datatype: int(건물의 찜하기 개수)",
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/save/user/test": {
      "post": {
        "tags": [
          "Test"
        ],
        "summary": "POST Test Api",
        "description": "POST Test Api 입니다.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "example": "any"
                },
                "age": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "409": {
            "description": "Conflict"
          }
        }
      }
    },
    "/get/test": {
      "get": {
        "tags": [
          "Test"
        ],
        "summary": "GET Test Api",
        "description": "GET Test Api 입니다.",
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    }
  }
}