{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "늘품 Server API",
    "description": "늘품 팝업 웹 개발 Server API 입니다."
  },
  "host": "ec2-3-34-222-145.ap-northeast-2.compute.amazonaws.com:8080/",
  "basePath": "api/",
  "tags": [
    {
      "name": "Test",
      "description": "테스트 용 API 입니다."
    },
    {
      "name": "GET Requests",
      "description": "GET Request 관련 API 입니다."
    },
    {
      "name": "POST Requests",
      "description": "POST Request 관련 API 입니다."
    }
  ],
  "schemes": ["http", "https"],
  "securityDefinitions": {
    "apiKeyAuth": {
      "type": "apiKey",
      "in": "header",
      "name": "X-API-KEY",
      "description": "any description..."
    }
  },
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/popup/infos": {
      "get": {
        "tags": ["GET Requests"],
        "summary": "GET Request Api",
        "description": "전체 팝업 리스트의 정보(카테고리, 팝업명, 진행 기간, 진행 장소, 관련 키워드)를 가져오는 GET request 입니다.",
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/building/infos": {
      "get": {
        "tags": ["GET Requests"],
        "summary": "GET Request Api",
        "description": "전체 건물 리스트의 정보(건물 이름, 주소, 좌표, 현재 팝업 진행 여부, 진행된 팝업 정보 리스트)를 가져오는 GET request 입니다.",
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/building/search": {
      "get": {
        "tags": ["GET Requests"],
        "summary": "GET Request Api",
        "description": "전체 건물 리스트의 정보(건물 이름, 주소, 좌표, 현재 팝업 진행 여부, 진행된 팝업 정보 리스트)를 가져오는 GET request 입니다.",
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/user/register": {
      "post": {
        "tags": ["Test"],
        "summary": "POST Test Api",
        "description": "POST Test Api 입니다.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "example": "any"
                },
                "nickname": {
                  "example": "any"
                },
                "email": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "409": {
            "description": "Conflict"
          }
        }
      }
    },
    "/user/info": {
      "get": {
        "tags": ["Test"],
        "summary": "POST Test Api",
        "description": "POST Test Api 입니다.",
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/user/remove": {
      "get": {
        "tags": ["Test"],
        "summary": "POST Test Api",
        "description": "POST Test Api 입니다.",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/user/building/likes": {
      "get": {
        "tags": ["Test"],
        "summary": "POST Test Api",
        "description": "POST Test Api 입니다.",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "post": {
        "tags": ["Test"],
        "summary": "POST Test Api",
        "description": "POST Test Api 입니다.",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/building/likes/count": {
      "get": {
        "tags": ["Test"],
        "summary": "POST Test Api",
        "description": "POST Test Api 입니다.",
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/save/user/test": {
      "post": {
        "tags": ["Test"],
        "summary": "POST Test Api",
        "description": "POST Test Api 입니다.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "example": "any"
                },
                "age": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "409": {
            "description": "Conflict"
          }
        }
      }
    },
    "/get/test": {
      "get": {
        "tags": ["Test"],
        "summary": "GET Test Api",
        "description": "GET Test Api 입니다.",
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    }
  }
}
